.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Marker";
  src: url(./asset/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: "Poppins_Medium";
  src: url(./asset/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Abril";
  src: url(./asset/fonts/AbrilFatface-Regular.ttf);
}
.logo {
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
